/.DS_Store
/.auctex-auto/
/*.log
/_region_.tex
/content/.DS_Store
/content/.auctex-auto/content.el
/content/.auctex-auto/storage.el
/content/Datastructures/.DS_Store
/content/Datastructures/.auctex-auto/DataStructures.el
/content/Datastructures/.auctex-auto/advanceddatastructures.el
/content/Datastructures/.auctex-auto/storage.el
/content/Datastructures/DataStructures.log
/content/Datastructures/ads/.auctex-auto/ads.el
/content/Datastructures/ads/.auctex-auto/lsm.el
/content/Datastructures/ads/_region_.log
/content/Datastructures/ads/_region_.tex
/content/Datastructures/ads/ads-order-statistics.log
/content/Datastructures/ads/ads.aux
/content/Datastructures/ads/ads.fdb_latexmk
/content/Datastructures/ads/ads.fls
/content/Datastructures/ads/ads.log
/content/Datastructures/ads/lsm.aux
/content/Datastructures/ads/lsm.fdb_latexmk
/content/Datastructures/ads/lsm.fls
/content/Datastructures/ads/lsm.log
/content/Datastructures/storage.aux
/content/Datastructures/*.fdb_latexmk
/content/Datastructures/storage.fls
/content/Datastructures/storage.log
/content/content.aux
/content/content.fdb_latexmk
/content/content.fls
/content/content.log
/content/include/open-logic-section.aux
/content/include/open-logic-section.fdb_latexmk
/content/include/open-logic-section.fls
/content/include/open-logic-section.log
/contents.aux
/*.aux
/*.dvi
*.fdb_latexmk
/*.fls
/*.out
/*.thm
/*.toc
/*.tar
/sty/.DS_Store
*.el
